@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    height: 0;
    display: none;
}

body {
    font-family: 'Prompt', sans-serif;
}

/* 

.navContainer{
    z-index: 5;
    display: inline;
    position: absolute;
}

.navbar {
    display: inline-flex;
    z-index: 3;
    width: 100vw;
    height: 45px;
    justify-content: center;
    align-items: center;
    top:0;
    background-color: #1B1C1E;
    position: sticky;
    border-bottom: 3px solid coral;
}

.navbar .icon {
    justify-content: center;
    align-items: center;
    display: none;
}

.navbar a {
    color: #FFFAFA;
    text-decoration: none;
    margin: 20px;
    transition:color 0.3s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;
    font-size:1.6vh;
}

.navbar a:hover {
    color: rgb(255, 179, 80); FFB350 
}

*/

#homeIntro{
    text-shadow: 2px 1px 2px #000;
}

#homeIntroLower{
    text-shadow: 2px 1px 2px #000;
}

#resume {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#contact_me a {
    color: inherit;
}

#contact_me i {
    transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

#contact_me i:hover {
    color: coral;
}

.active {
    color: coral;
}

.non-active {
    color: #FFFAFA;
}



@media screen and (max-width:755px){
    #homeIntro, #homeIntroLower {
        text-shadow: none;
    }
    
    #homeIntroLower #dynamic{
        text-shadow: none;
    }
    
}
